* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-family: "Poppins", sans-serif;
    align-items: center;
}

nav {
    background: #08192E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
    font-family: "Playfair Display", serif;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: .3s;
}

nav ul li a:hover {
    color: #D4A44F;
}

.btn {
    background: #D4A44F;
    color: white;
    text-decoration: none;
    padding: 12px 35px;
    border-radius: 15px;
    font-weight: 600;
    transition: .3s;
}

.btn:hover {
    background: #B8872E;
    transform: translateY(-3px);
}

.hero {
    width: 100%;
    height: 75vh;
    background: url("../images/review-banner.png") center center/cover;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;

}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .55);
}

.hero-content {
    position: relative;
    z-index: 2;
    width: 800px;
}

.hero-content h3 {
    color: #D4A44F;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-family: 'Cormorant Garamond', serif;
}

.hero-content h1 {
    color: white;
    font-size: 72px;
    font-family: 'Cormorant Garamond', serif;
}

.hero-content h5 {
    color: white;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
}

.hero-content p {
    color: #eee;
    font-size: 20px;
    line-height: 35px;
    margin: 30px 0;
}

.reviews-section {
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: -80px;
    position: relative;
    z-index: 100;
    background: #efefef;
    justify-content: space-evenly;
    border-radius: 41px;

}


.rating-box {
    border-right: 1px solid #eee;
    padding: 45px;

}

.rating-box h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    margin-bottom: 15px;
    text-align: center;
}

.rating-box h1 {
    font-size: 75px;
    color: #d4af37;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
}

.rating-box span {
    font-size: 28px;
    color: #555;
    text-align: center;
}

.stars {
    margin: 18px 0;
    color: #d4af37;
    font-size: 22px;
}

.rating-box p {
    color: #666;

}

.rating-progress {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.center {
    width: 50%;
    align-items: center;
}

.progress-item {
    display: grid;
    grid-template-columns: 170px 1fr 45px;
    align-items: center;
    gap: 10px;
    margin: 15px 0;

}

.progress {
    height: 10px;
    background: #ececec;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.progress-item h3 {
    text-align: center;
    font-weight: 300;
    font-size: 17px;
}

.bar {
    height: 100%;
    background: #d4af37;
    border-radius: 20px;
}

.number h4 {
    font-weight: 300;
    font-size: 15px;
}

.award {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #eee;
}

.award i {
    font-size: 80px;
    color: #d4af37;

}

.award h2 {
    margin-top: 15px;
    font-family: 'Cormorant Garamond', serif;
}

.award span {
    color: #777;
}



/* Filters */

.review-filter {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.review-filter button {
    border: 1px solid #ddd;
    background: #fff;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    transition: .4s;

}

.review-filter button i {
    margin-right: 8px;
}

.review-filter button:hover {
    background: #d4af37;
    color: white;
}

.review-filter .active {
    background: #08111d;
    color: white;
}

.write-review {
    margin-left: auto;
    background: #d4af37;
    padding: 14px 28px;
    color: #08111d;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
}

.write-review:hover {
    background: #08111d;
    color: white;
}